<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
    {% include 'login/common/head_js.html' %}
    {% include 'login/common/head_css.html' %}
  </head>
  <body>
    <header>
      <h2 id="header_icon">Welcome, <a href="{% url 'quotes:view_user' id=request.session.login_id %}">{{ request.session.alias }}</a>!</h2>
      <a href="{% url 'login:logout' %}">Logout</a>
    </header>
    <main>
      <div id="available" style="display: inline-block; vertical-align: top; width: 300px;">
        <h3>Quotable Quotes:</h3>
        <div id="quotes_list" style="border: 1px solid black; height: 400px; overflow: scroll;">
          {% for quote in non_fav_quotes %}
            <div class="quote" style="border: 1px solid black; margin: 0.5rem; padding: 0.5rem;">
              <p>
                {{ quote.author }}: {{ quote.content }}
              </p>
              <span style="font-size: 75%">
                Posted by: <a href="{% url 'quotes:view_user' id=quote.posted_by.id %}">{{ quote.posted_by.alias }}</a>
              </span>
              <a href="{% url 'quotes:add_favorite' u_id=request.session.login_id q_id=quote.id %}"><button type="button">Add to My List</button></a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="favorite" style="display: inline-block; vertical-align: top; width: 300px;">
        <h3>Your Favorites:</h3>
        <div id="favorite_quotes" style="border: 1px solid black; height: 200px; overflow: scroll;">
          {% for quote in fav_quotes %}
            <div class="quote" style="border: 1px solid black; margin: 0.5rem; padding: 0.5rem;">
              <p>
                {{ quote.author }}: {{ quote.content }}
              </p>
              <span style="font-size: 75%">
                Posted by: <a href="{% url 'quotes:view_user' id=quote.posted_by.id %}">{{ quote.posted_by.alias }}</a>
              </span>
              <a href="{% url 'quotes:remove_favorite' u_id=request.session.login_id q_id=quote.id %}"><button type="button">Remove from My List</button></a>
            </div>
          {% endfor %}
        </div>
        <div id="add_quote">
          <h3>Contribute a Quote:<h3>
            <form action="{% url 'quotes:add_quote' %}" method="POST">
              {% csrf_token %}
              <label for="quoted_by">Quoted By:<input type="text" name="quoted_by" /></label>
              <br />
              <label for="content">Message:<textarea name="content" rows="5" cols="20"></textarea></label>
              <br />
              <input type="submit" value="Submit" />
            </form>
            {% if messages %}
              <div style="border: 1px solid red; color: red;">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
        </div>
      </div>
    </main>
  </body>
</html>
